In [66]:
import requests
import bs4
import pandas as pd

In [4]:
url = "https://en.wikipedia.org/wiki/MasterChef_Australia_(series_13)"
requests.get(url)

In [71]:
# requests.get(url,{}).text

In [70]:
web_page= bs4.BeautifulSoup(requests.get(url,{}).text)

In [24]:
tables = web_page.find_all(name="tbody")[1]
tables = tables('tr')
tables[1]

<tr>
<td>Aaron Sanders
</td>
<td>34
</td>
<td>SA
</td>
<td>Insurance claims manager
</td>
<td style="background:#87D3F8;">Competing
</td></tr>

In [8]:
columns = ["Contestant","Age","State/Terr","Occupation", "Status"]

In [69]:
temp_list=[]
for table in tables:
    data= table.find_all(name="td")
    temp_list.append([x.text[:-1] for x in data])
# del temp_list[8:10]
print(temp_list)
df = pd.DataFrame(data=temp_list,columns=columns)
df

[[], ['Aaron Sanders', '34', 'SA', 'Insurance claims manager', 'Competing'], ['Brent Draper', '31', 'QLD', 'Boilermaker', 'Competing'], ['Depinder Chhibber', '29', 'NSW', 'Pharmacist', 'Competing'], ['Elise Pulbrook', '28', 'VIC', 'Lawyer', 'Competing'], ['Justin Narayan', '27', 'WA', 'Youth pastor', 'Competing'], ['Kishwar Chowdhury', '38', 'VIC', 'Printing business owner', 'Competing'], ['Linda Dalrymple', '38', 'NSW', 'Stay-at-home mum', 'Competing'], ['Maja Veit', '33', 'WA', 'Small business owner', 'CompetingReturned 3 JuneEliminated 4 May'], ['Minoli De Silva', '34', 'NT', 'Chemical engineer', 'CompetingReturned 1 JuneEliminated 2 May'], ['Pete Campbell', '36', 'NSW', 'Tattoo artist', 'Competing'], ['Sabina Newton', '21', 'TAS', 'Commerce student', 'Competing'], ['Scott Bagnell', '40', 'QLD', 'Commercial interior designer', 'Competing'], ['Tommy Pham', '31', 'NSW', 'Kindergarten teacher', 'Competing'], ['Amir Manoly', '30', 'VIC', 'Construction project manager', 'Eliminated 8 June'], ['Dan Dumbrell', '31', 'NSW', 'Research project officer', 'Eliminated 6 June'], ['Tom Levick', '24', 'NSW', 'Law graduate', 'Eliminated 30 May'], ['Eric Mao', '21', 'NSW', 'Medical student', 'Eliminated 25 May'], ['Jess Hodge', '36', 'NSW', 'Landscape architect', 'Eliminated 23 May'], ['Conor Curran', '27', 'VIC', 'Restaurant manager', 'Eliminated 16 May'], ['Therese Lum', '31', 'NSW', 'Performance data analyst', 'Eliminated 11 May'], ['Wynona Davies', '27', 'NSW', 'Marketing coordinator', 'Eliminated 9 May'], ['Katrina Dunnett', '25', 'VIC', 'Marketing coordinator', 'Eliminated 27 April'], ['Yo Yo Yang', '19', 'SA', 'Medical student', 'Eliminated 25 April'], ['Trent Vu', '23', 'VIC', 'Marketing executive', 'Eliminated 22 April']]

,Contestant,Age,State/Terr,Occupation,Status
0,None,None,None,None,None
1,Aaron Sanders,34,SA,Insurance claims manager,Competing
2,Brent Draper,31,QLD,Boilermaker,Competing
3,Depinder Chhibber,29,NSW,Pharmacist,Competing
4,Elise Pulbrook,28,VIC,Lawyer,Competing
5,Justin Narayan,27,WA,Youth pastor,Competing
6,Kishwar Chowdhury,38,VIC,Printing business owner,Competing
7,Linda Dalrymple,38,NSW,Stay-at-home mum,Competing
8,Maja Veit,33,WA,Small business owner,CompetingReturned 3 JuneEliminated 4 May
9,Minoli De Silva,34,NT,Chemical engineer,CompetingReturned 1 JuneEliminated 2 May
10,Pete Campbell,36,NSW,Tattoo artist,Competing
11,Sabina Newton,21,TAS,Commerce student,Competing
12,Scott Bagnell,40,QLD,Commercial interior designer,Competing
13,Tommy Pham,31,NSW,Kindergarten teacher,Competing
14,Amir Manoly,30,VIC,Construction project manager,Eliminated 8 June
15,Dan Dumbrell,31,NSW,Research project officer,Eliminated 6 June
16,Tom Levick,24,NSW,Law graduate,Eliminated 30 May
17,Eric Mao,21,NSW,Medical student,Eliminated 25 May
18,Jess Hodge,36,NSW,Landscape architect,Eliminated 23 May
19,Conor Curran,27,VIC,Restaurant manager,Eliminated 16 May
20,Therese Lum,31,NSW,Performance data analyst,Eliminated 11 May
21,Wynona Davies,27,NSW,Marketing coordinator,Eliminated 9 May
22,Katrina Dunnett,25,VIC,Marketing coordinator,Eliminated 27 April
23,Yo Yo Yang,19,SA,Medical student,Eliminated 25 April
24,Trent Vu,23,VIC,Marketing executive,Eliminated 22 April